@tailwind base;
@tailwind components;
@tailwind utilities;

.card-neumorphism {
        border-radius: 11px;
        background: linear-gradient(145deg, #313a5b, #273050, #1e2746, #151e3b, #0b1531);
        box-shadow: 23px 23px 45px #000000,
                -23px -23px 45px #0B1531;
}

.blue-text-gradient {
        /* background: -webkit-linear-gradient(#eee, #333); */
        background: #56ccf2;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top,
                        #2f80ed,
                        #56ccf2);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top,
                        #2f80ed,
                        #56ccf2);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;

        height: 0;
}

.map-responsive iframe {
        position: absolute;
        left: 0;
        top: 0;

        border: 0;

        height: 100%;
        width: 100%;
}